<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yasin.broadcastreceivedemo">

    <!--   广播接收者接收 网络状态广播时，注意要开启访问网络的权限-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!--自定义权限,  通常在消息推送中大量的使用自定义权限-->

    <permission android:name="yasin.broadcastreceiver.permission.TEST_1"/>

    <uses-permission android:name="yasin.broadcastreceiver.permission.TEST_1"/>
    <!-- 广播接收者 ：在清单文件中注册，属于静态注册 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.NetworkReceiver">
            <intent-filter>

                <!-- action内部指定的内容，就是广播的信息类型 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.Normal0Receiver"
            android:enabled="true"
            android:exported="false">

            <!-- 为广播接收者设定优先级  （负数也一样，越大优先级越高）优先级越高先执行，有优先级（大于0的时候）的先执行，无优先级的后执行
                不写优先级 按在xml上的顺序执行优先级最大为1000  当设一个的优先级为0，一个不设时，按xml顺序执行-->
            <intent-filter android:priority="0">
                <action android:name="gyz.ACTION_TEST_0"/>
            </intent-filter>
        </receiver>
        
        <!--permission属性，是sendBroadCast内部指定的，这个权限内容需要在清单文件最上方定义-->
       
        <receiver
            android:name=".receivers.Normal1Receiver"
            android:enabled="true"
            android:exported="false"
            android:permission="yasin.broadcastreceiver.permission.TEST_1">
            <intent-filter   >
                <action android:name="gyz.ACTION_TEST_0"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>